.animated {
  animation: flashAnimation 1s ease;
}

@keyframes flashAnimation {
  0% {
    background-color: #ffa500;
  }
  20% {
    background-color: #ffb732;
  }
  40% {
    background-color: #ffd27f;
  }
  60% {
    background-color: #ffe4b2;
  }
  100% {
    background-color: transparent;
  }
}
